################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/**/.vs
/**/bin
/**/obj
/**/TestResults
/**/*.sln.DotSettings.user